*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 1px;
  min-height: 100%;
  font-size: 16px;
}
body {
  min-height: 100%;
  height: 1px;
  color: #444;
  font-family: Roboto, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

/* Grid */
.container {
  margin: 0 auto;
  min-width: 320px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 1000px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  font-size: 0;
}

.column {
  display: block;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

[class*="col-start"] {
  display: inline-block;
  vertical-align: top;
}

.col-start-1 {
  width: 8.3333%;
}
.col-start-2 {
  width: 16.6666%;
}
.col-start-3 {
  width: 25%;
}
.col-start-4 {
  width: 33.3333%;
}
.col-start-5 {
  width: 41.6666%;
}
.col-start-6 {
  width: 50%;
}
.col-start-7 {
  width: 58.3333%;
}
.col-start-8 {
  width: 66.6666%;
}
.col-start-9 {
  width: 75%;
}
.col-start-10 {
  width: 83.3333%;
}
.col-start-11 {
  width: 91.6666%;
}
.col-start-12 {
  width: 100%;
}

.col-offset-start-1 {
  margin-left: 8.3333%;
}
.col-offset-start-2 {
  margin-left: 16.6666%;
}
.col-offset-start-3 {
  margin-left: 25%;
}
.col-offset-start-4 {
  margin-left: 33.3333%;
}
.col-offset-start-5 {
  margin-left: 41.6666%;
}
.col-offset-start-6 {
  margin-left: 50%;
}
.col-offset-start-7 {
  margin-left: 58.3333%;
}
.col-offset-start-8 {
  margin-left: 66.6666%;
}
.col-offset-start-9 {
  margin-left: 75%;
}
.col-offset-start-10 {
  margin-left: 83.3333%;
}
.col-offset-start-11 {
  margin-left: 91.6666%;
}
.col-offset-start-12 {
  margin-left: 100%;
}

.hidden-start {
  display: none !important;
}

.visible-start {
  display: block !important;
}

@media (min-width: 544px) {
  [class*="col-mb"] {
    display: inline-block;
    vertical-align: top;
  }

  .col-mb-1 {
    width: 8.3333%;
  }
  .col-mb-2 {
    width: 16.6666%;
  }
  .col-mb-3 {
    width: 25%;
  }
  .col-mb-4 {
    width: 33.3333%;
  }
  .col-mb-5 {
    width: 41.6666%;
  }
  .col-mb-6 {
    width: 50%;
  }
  .col-mb-7 {
    width: 58.3333%;
  }
  .col-mb-8 {
    width: 66.6666%;
  }
  .col-mb-9 {
    width: 75%;
  }
  .col-mb-10 {
    width: 83.3333%;
  }
  .col-mb-11 {
    width: 91.6666%;
  }
  .col-mb-12 {
    width: 100%;
  }

  .col-offset-mb-1 {
    margin-left: 8.3333%;
  }
  .col-offset-mb-2 {
    margin-left: 16.6666%;
  }
  .col-offset-mb-3 {
    margin-left: 25%;
  }
  .col-offset-mb-4 {
    margin-left: 33.3333%;
  }
  .col-offset-mb-5 {
    margin-left: 41.6666%;
  }
  .col-offset-mb-6 {
    margin-left: 50%;
  }
  .col-offset-mb-7 {
    margin-left: 58.3333%;
  }
  .col-offset-mb-8 {
    margin-left: 66.6666%;
  }
  .col-offset-mb-9 {
    margin-left: 75%;
  }
  .col-offset-mb-10 {
    margin-left: 83.3333%;
  }
  .col-offset-mb-11 {
    margin-left: 91.6666%;
  }
  .col-offset-mb-12 {
    margin-left: 100%;
  }

  .hidden-mb {
    display: none !important;
  }

  .visible-mb {
    display: block !important;
  }
}
@media (min-width: 768px) {
  [class*="col-sm"] {
    display: inline-block;
    vertical-align: top;
  }

  .col-sm-1 {
    width: 8.3333%;
  }
  .col-sm-2 {
    width: 16.6666%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333%;
  }
  .col-sm-5 {
    width: 41.6666%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333%;
  }
  .col-sm-8 {
    width: 66.6666%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333%;
  }
  .col-sm-11 {
    width: 91.6666%;
  }
  .col-sm-12 {
    width: 100%;
  }

  .col-offset-sm-1 {
    margin-left: 8.3333%;
  }
  .col-offset-sm-2 {
    margin-left: 16.6666%;
  }
  .col-offset-sm-3 {
    margin-left: 25%;
  }
  .col-offset-sm-4 {
    margin-left: 33.3333%;
  }
  .col-offset-sm-5 {
    margin-left: 41.6666%;
  }
  .col-offset-sm-6 {
    margin-left: 50%;
  }
  .col-offset-sm-7 {
    margin-left: 58.3333%;
  }
  .col-offset-sm-8 {
    margin-left: 66.6666%;
  }
  .col-offset-sm-9 {
    margin-left: 75%;
  }
  .col-offset-sm-10 {
    margin-left: 83.3333%;
  }
  .col-offset-sm-11 {
    margin-left: 91.6666%;
  }
  .col-offset-sm-12 {
    margin-left: 100%;
  }

  .hidden-sm {
    display: none !important;
  }

  .visible-sm {
    display: block !important;
  }
}
@media (min-width: 1024px) {
  [class*="col-md"] {
    display: inline-block;
    vertical-align: top;
  }

  .col-md-1 {
    width: 8.3333%;
  }
  .col-md-2 {
    width: 16.6666%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333%;
  }
  .col-md-5 {
    width: 41.6666%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333%;
  }
  .col-md-8 {
    width: 66.6666%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333%;
  }
  .col-md-11 {
    width: 91.6666%;
  }
  .col-md-12 {
    width: 100%;
  }

  .col-offset-md-1 {
    margin-left: 8.3333%;
  }
  .col-offset-md-2 {
    margin-left: 16.6666%;
  }
  .col-offset-md-3 {
    margin-left: 25%;
  }
  .col-offset-md-4 {
    margin-left: 33.3333%;
  }
  .col-offset-md-5 {
    margin-left: 41.6666%;
  }
  .col-offset-md-6 {
    margin-left: 50%;
  }
  .col-offset-md-7 {
    margin-left: 58.3333%;
  }
  .col-offset-md-8 {
    margin-left: 66.6666%;
  }
  .col-offset-md-9 {
    margin-left: 75%;
  }
  .col-offset-md-10 {
    margin-left: 83.3333%;
  }
  .col-offset-md-11 {
    margin-left: 91.6666%;
  }
  .col-offset-md-12 {
    margin-left: 100%;
  }

  .hidden-md {
    display: none !important;
  }

  .visible-md {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  [class*="col-lg"] {
    display: inline-block;
    vertical-align: top;
  }

  .col-lg-1 {
    width: 8.3333%;
  }
  .col-lg-2 {
    width: 16.6666%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333%;
  }
  .col-lg-5 {
    width: 41.6666%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333%;
  }
  .col-lg-8 {
    width: 66.6666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333%;
  }
  .col-lg-11 {
    width: 91.6666%;
  }
  .col-lg-12 {
    width: 100%;
  }

  .col-offset-lg-1 {
    margin-left: 8.3333%;
  }
  .col-offset-lg-2 {
    margin-left: 16.6666%;
  }
  .col-offset-lg-3 {
    margin-left: 25%;
  }
  .col-offset-lg-4 {
    margin-left: 33.3333%;
  }
  .col-offset-lg-5 {
    margin-left: 41.6666%;
  }
  .col-offset-lg-6 {
    margin-left: 50%;
  }
  .col-offset-lg-7 {
    margin-left: 58.3333%;
  }
  .col-offset-lg-8 {
    margin-left: 66.6666%;
  }
  .col-offset-lg-9 {
    margin-left: 75%;
  }
  .col-offset-lg-10 {
    margin-left: 83.3333%;
  }
  .col-offset-lg-11 {
    margin-left: 91.6666%;
  }
  .col-offset-lg-12 {
    margin-left: 100%;
  }

  .hidden-lg {
    display: none !important;
  }

  .visible-lg {
    display: block !important;
  }
}
/* Grid (END) */

.wrapper {
  display: flex;
  flex-direction: column;
  height: 1px;
  min-height: 100%;
}

.layout {
  flex: 1 0 auto;
}
.layout__inner {
  padding: 24px 0;
}

@media (min-width: 1024px) {
  .flex {
    display: flex;
  }
}

/* Header */
.header {
  height: 60px;
  background-color: #607D8B;
  color: #fff;
  font-size: 1.5rem;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
}
/* Header (END) */

/* Footer */
.footer {
  height: 80px;
  background-color: #607D8B;
  color: #fff;
  font-size: 1.5rem;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
}
/* Footer (END) */

/* Sidebar */
.sidebar__inner {
  margin-bottom: 32px;
  padding: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
}
.sidebar__title {
  margin-bottom: 24px;
  font-size: 1rem;
}
@media (min-width: 1024px) {
  .sidebar__inner {
    margin-bottom: 0;
    min-height: 100%;
  }
}
/* Sidebar (END) */

/* Checkbox */
.input-hidden {
  display: none;
}
.checkbox {
  display: block;
  padding-left: 32px;
  line-height: 24px;
  font-size: 0.875rem;
  position: relative;
  cursor: pointer;
}
.checkbox:before, .checkbox:after {
  content: "";
  position: absolute;
}
.checkbox:before {
  margin-top: -8px;
  border: 2px solid #212121;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  top: 50%;
  left: 0;
}

input:checked + .checkbox:before {
  border-color: #3F51B5;
  background-color: #3F51B5;
}
input:checked + .checkbox:after {
  margin-top: -6px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #fff;
  width: 5px;
  height: 10px;
  top: 50%;
  left: 6px;
  -webkit-transform: rotateZ(45deg);
     -moz-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
          transform: rotateZ(45deg);
}
/* Checkbox (END) */

/* Card */
.card {
  margin-bottom: 30px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.card__image {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding-bottom: 100%;
  background: #ddd url("../images/everest.jpg") center/cover no-repeat;
  position: relative;
}
.card__title {
  color: #fff;
  font-size: 1.25rem;
  position: absolute;
  bottom: 16px;
  left: 16px;
}
.card__info {
  padding: 24px 12px 8px;
}
.card__subtitle {
  margin-bottom: 12px;
  color: #888;
  font-size: 0.875rem;
}
.card__desc {
  margin-bottom: 12px;
  line-height: normal;
  font-size: 0.875rem;
}
.card__buttons {

}
.button {
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
  min-width: 64px;
  height: 48px;
  padding: 0 8px;
  color: #4CAF50;
  line-height: 48px;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
}
.button--raised {
  border-radius: 3px;
  padding: 0 16px;
  background-color: #4caf50;
  color: #fff;
}
/* Card (END) */
